<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" th:href="@{/css/cadastro-produto.css}">
</head>

<body>

<nav>
    <div>
        <a href="/produtos">Lista de Produtos</a>
    </div>
</nav>

<div class="container">
    <h2>Novo Produto</h2>

    <form th:action="@{/produtos/novo}" th:object="${produto}" method="post">

        <div>
            <label for="nome">Nome do Produto</label>
            <input type="text" th:field="*{nome}" id="nome">
            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        </div>

        <div>
            <label for="valor">Preço (R$)</label>
            <input type="number" step="0.01" th:field="*{valor}" id="valor">
            <span th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}"></span>
        </div>

        <div>
            <label for="categoria">Categoria</label>
            <select th:field="*{categoria.idCategoria}" id="categoria">
                <option value="" disabled selected>Selecione uma categoria</option>
                <option th:each="cat : ${categorias}"
                        th:value="${cat.idCategoria}"
                        th:text="${cat.nome}">
                </option>
            </select>
            <span th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></span>
        </div>


        <div class="buttons">
            <button type="submit">Salvar Produto</button>
            <a href="/produtos" class="cancel-link">Cancelar</a>
        </div>

    </form>
</div>

</body>
</html>